body {
    margin: 0px;
    padding: 0px;
    background-color:#f1f1f1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36a9e1;
    box-shadow: 5px 5px 21px lightblue;
}

li {
    float: left;
}

li a {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color:white;
    color: #36a9e1;
}

.navbar
{
    float: right;
}

.container1
{
    background-color: white;
    margin: 10px;
}

.footer
{
    background-color: #36a9e1;
    font-size: 20px;
    color: white;
    text-align: center;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.switch, .switch1 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input, .switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: black;
}

input:focus + .slider {
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#addDeviceType, #addDeviceType2, #ping, #ping2{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text], input[type=password]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #36a9e1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.reset{
    padding: 14px 20px;
    background-color: #36a9e1;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

/* Float cancel and signup buttons and add an equal width */
.reset{
    float: left;
    width: 49%;
}

.addDevice, .update{
    background-color: #36a9e1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    float: right;
    width: 49%;
}

.container, .container2 {
    padding: 16px;
}

/* The Modal (background) */
.modal, .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    background-color: rgb(0,0,0,0.6);
;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content, .modal-content2 {
    background-color: #fefefe;
    margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close, .close2 {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus, .close2:hover, .close2:focus{
    color: #36a9e1;
    cursor: pointer;
}

.clearfix::after, .clearfix2::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .reset, .addDevice, .reset2 {
        width: 100%;
    }
}

.addDeviceButton
{
    border-radius: 9px;
    width: auto;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}

.addDeviceButton:hover
{
    transition-delay: 0.1s;
    box-shadow: 10px 10px 2px lightblue;
}

#addDevice:hover, #update:hover
{
    transition-delay: 0.1s;
    box-shadow: 10px 10px 2px lightblue;
}

#reset:hover
{
    transition-delay: 0.1s;
    box-shadow: 10px 10px 2px lightblue;
}


table {
    padding: 2px;
    margin-left:60px ;
    background-color: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.h1
{
    padding:15px 15px;
}

.DiscoveryTab:hover
{
    cursor: pointer;
}


.DashBoardTab:hover, .MonitorTab:hover, .SignOut:hover
{
    cursor: pointer;
}



/*Polling CSS*/


#closePolling:hover, #closePolling:focus{
    cursor: pointer;
}

